<div id="success-page">
  <div class="container success-container">
    <h1>Sucesso! 🎉</h1>
    <p class="success-message">{{successMessage}}</p>
    <p>A Leitura é uma forma gloriosa de se aprimorar os conhecimentos!!</p>
    <a href="/" class="action-btn">Cadastrar Novo Livro</a>
    <a href="/books" class="action-btn">Ver Todos os Livros</a>
  </div>
</div>